<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class='navbar-header'>
            <a class="navbar-nav" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav">
            {{!-- <li class="active"><a href="/">Home</a></li> --}}
            <li><button class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</button></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    {{!-- <div class='overlay'>
    </div> --}}
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Buffalo Bills Web Scraper</h1>
        {{!-- <p>Find Articles, Images and leave a note</p> --}}
    </div>
    </div>
    
        <div class="container-fluid article-container">
        </div>
    <footer class="footer">
        <div class="container">
            <p>Buffalo Bills Web Scraper</p>
        </div>
    </footer>

    <style>
        .container-fluid {
            width:1200px;
            margin:auto;
        }
        .navbar-nav {
            margin-top: 50px;
        }
    
        h1{
        font-size: 75px;
        font-family: campaign-slab, serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        }
        p {
            color: black;
            font-size: 20px;
        }
        .jumbotron { 
        background-image: url("https://hdwallsource.com/img/2014/9/bills-wallpaper-14794-15260-hd-wallpapers.jpg");
        background-size: cover;
        width: 1200px;
        height: 600px;
        margin: auto;
        }
        .article-container {
            color: black;
            size: 28px;
        }

        footer p {
            color: black;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="./assets/javascript/index.js"></script> 